name: Tests

on:
  push:
    branches:
      - main
  create:
    tags:
      - '**'
  pull_request:
  schedule:
    # Run every 1st of the month at 7:42am UTC.
    - cron:  '42 7 1 * *'

jobs:
  find-benchmarks:
    runs-on: ubuntu-latest
    outputs:
      benchmark-dirs: ${{ steps.find-dirs.outputs.dirs }}
    steps:
      - uses: actions/checkout@v3
      - name: Find benchmark directories
        id: find-dirs
        run: |
          # Find all directories containing an objective.py file
          dirs=$(find . -maxdepth 2 -name "objective.py" -type f | xargs dirname | sed 's|./||' | jq -R -s -c 'split("\n")[:-1]')
          echo "dirs=$dirs" >> $GITHUB_OUTPUT

  benchopt_dev:
    needs: find-benchmarks
    strategy:
      matrix:
        benchmark_dir: ${{ fromJson(needs.find-benchmarks.outputs.benchmark-dirs) }}
    uses: benchopt/template_benchmark/.github/workflows/test_benchmarks.yml@main
    with:
      benchopt_branch: benchopt@main
      benchmark_dir: ${{ matrix.benchmark_dir }}

  lint:
    uses: benchopt/template_benchmark/.github/workflows/lint_benchmarks.yml@main
